/**
 * 混合样式，适用于无法使用在 class 元素上，比 common.scss 更加智能化些
 *
 * @author Himmelbleu
 * @since 1.0
 * @date 2023 年 1 月 15 日
 * @url https://www.cnblogs.com/Himmelbleu/#/
 */

@mixin flex($justify: center, $items: center, $content: center, $wrap: wrap, $row: row) {
  display: flex;
  align-content: $content;
  align-items: $items;
  justify-content: $justify;
  flex-wrap: $wrap;
  flex-direction: $row;
}

@mixin hover($border-color: yes) {
  transition: 0.3s !important;
  cursor: pointer !important;

  &:hover {
    transition: 0.3s !important;
    color: var(--el-color-primary) !important;
    @if $border-color == yes {
      border-bottom-color: var(--el-color-primary) !important;
    } @else if $border-color == all {
      border-color: var(--el-color-primary) !important;
    }
    @content;
  }
}

@mixin font-space($spacing: 0.1rem, $line: 1.7) {
  letter-spacing: $spacing;
  line-height: $line;
}
