:root,
body {
  font-weight: 300;
  background-color: #191919;
  padding: 0;
  margin: 0;
  color: #a7a7a7;
  overflow: hidden;
}

#app {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

::selection {
  color: var(--el-text-color-primary);
  background: var(--el-color-primary);
}

a {
  color: #a7a7a7;
}

a:link {
  text-decoration: none;
}

a:hover {
  color: var(--el-color-primary);
}

a:active {
  color: #a7a7a7;
}

::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

::-webkit-scrollbar-thumb {
  background-color: #a7a7a7;
}

.el-button {
  span {
  }
}

.el-input__inner {
}
