// element-plus custom vars
@import "@/scss/element-plus.scss";
// element-plus dark style
@import "element-plus/theme-chalk/dark/css-vars.css";
// hljs style
@import "highlight.js/styles/atom-one-dark.css";
// responsive style
@import "@/scss/responsive";
// common style
@import "@/scss/common";

:root,
body {
  padding: 0 !important;
  margin: 0 !important;
  background-color: var(--bg-color);
  color: var(--pri-text-color);
}

* {
  font-weight: 300 !important;
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei",
    "微软雅黑", Arial, sans-serif !important;
  letter-spacing: 0.05rem !important;
  word-break: break-all !important;
  line-break: anywhere !important;
}

html[class="dark"] {
  --pri-text-color: #a7a7a7;
  --sec-text-color: #878787;
  --bg-color: #1c1c1c;
}

html[class="light"] {
  --pri-text-color: #fff;
  --sec-text-color: #878787;
  --bg-color: #1c1c1c;
}

#app {
  --at-apply: f-c-c;
}

img {
  max-width: 100%;
  --at-apply: rd-2;
  object-fit: cover;
}

a:link {
  text-decoration: none;
}

.anchor-active {
  color: #409eff !important;
}

::selection {
  color: var(--el-text-color-primary);
  background: var(--el-color-primary);
}

::-webkit-scrollbar {
  width: 0.2rem;
  height: 0.2rem;
}

::-webkit-scrollbar-thumb {
  background-color: #a7a7a7;
}
