// element-plus custom vars
@import "@/scss/element-plus.scss";
// element-plus dark style
@import "element-plus/theme-chalk/dark/css-vars.css";
// hljs style
@import "highlight.js/styles/atom-one-dark.css";
// responsive style
@import "@/scss/responsive";
// common style
@import "@/scss/common";

:root,
body {
  letter-spacing: 0.5px;
  font-weight: 300;
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial,
    sans-serif !important;
  background-color: #191919;
  padding: 0;
  margin: 0;
  color: #a7a7a7;
  overflow: hidden;
}

#app {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

a:link {
  text-decoration: none;
}

.anchor-active {
  color: #409eff !important;
}

::selection {
  color: var(--el-text-color-primary);
  background: var(--el-color-primary);
}

::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

::-webkit-scrollbar-thumb {
  background-color: #a7a7a7;
}
