/**
 * 通用样式
 *
 * @author Himmelbleu
 * @since 1.0
 * @date 2023 年 1 月 15 日
 * @url https://www.cnblogs.com/Himmelbleu/#/
 */

.hover {
  transition: 0.3s !important;
  cursor: pointer !important;

  &:hover {
    transition: 0.3s !important;
    color: var(--el-color-primary) !important;
    border-bottom-color: var(--el-color-primary) !important;
  }
}

.noscroll {
  &::-webkit-scrollbar {
    display: none;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #a7a7a7;
  }
}

.divider {
  margin: {
    top: 2rem;
    left: 0;
    right: 0;
    bottom: 1rem;
  }
  border: {
    top: 0;
    left: 0;
    right: 0;
    bottom: 1px;
    style: dashed;
    color: var(--divider-color);
  }
}

.noselect {
  outline: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.min-height {
  min-height: calc(100vh - 3.25rem);
}
