.justify-center {
  justify-content: center;
}

.align-center {
  display: flex;
  align-items: center;
  align-content: center;
}

.align-start {
  display: flex;
  align-items: start;
  align-content: start;
}

.hover {
  transition: 0.3s !important;
  cursor: pointer !important;

  &:hover {
    transition: 0.3s !important;
    color: var(--el-color-primary) !important;
    border-bottom-color: var(--el-color-primary) !important;
  }
}

.noscroll {
  &::-webkit-scrollbar {
    display: none;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #a7a7a7;
  }
}
