@mixin flex($justify: center, $items: center, $content: center, $wrap: wrap, $row: row) {
  display: flex;
  align-content: $content;
  align-items: $items;
  justify-content: $justify;
  flex-wrap: $wrap;
  flex-direction: $row;
}

@mixin ahover() {
  transition: 0.3s;
  cursor: pointer;

  &:hover {
    transition: 0.3s;
    color: var(--el-color-primary);
    @content
  }
}