@mixin flex($justify: center, $items: center, $content: center, $wrap: wrap, $row: row) {
  display: flex;
  align-content: $content;
  align-items: $items;
  justify-content: $justify;
  flex-wrap: $wrap;
  flex-direction: $row;
}

@mixin ahover() {
  transition: 0.3s;
  cursor: pointer !important;

  &:hover {
    transition: 0.3s;
    color: var(--el-color-primary) !important;
    @content;
  }
}

@mixin hover() {
  transition: 0.3s !important;
  cursor: pointer !important;

  &:hover {
    transition: 0.3s !important;
    color: var(--el-color-primary) !important;
    border-bottom-color: var(--el-color-primary) !important;
    @content;
  }
}

@mixin font-space($spacing: 1.7px, $line: 1.7) {
  letter-spacing: $spacing;
  line-height: $line;
}
