/**
 * 设置响应式 font-size 方案
 *
 * @author Himmelbleu
 * @since 1.0
 * @date 2023 年 1 月 15 日
 * @url https://www.cnblogs.com/Himmelbleu/#/
 */

$quota: 100;

@for $i from 1 through 50 {
  $px: $i * 100px;

  @media screen and (min-width: $px) {
    html,
    body,
    #app {
      font-size: calc($px / $quota);
    }
  }
}
